<!DOCTYPE html>
<html>
<head>
	<title>Code Assignment</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<script	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
	<script src="/js/controller.js"></script>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
</head>
<body>
	<div class="container" ng-app="app">
		<div ng-controller="getcontroller">
			<button id="btn-id" ng-click="getfunction()">Get</button>
			<ul ng-repeat="(key, value) in  response">
				<li ng-repeat="v in value">{{key + "              " +v.name+ "              " +v.score+ "              " +v.noofwins+ "              " +v.noofloses}}</li>
			</ul>
		</div>
	</div>
</body>
</html>